---
import { site } from '../data/site';
---
<nav class="mobile-order" aria-label="Быстрый заказ"><a href={site.telegram} target="_blank" rel="noopener" data-event="click_telegram_mobile">Telegram</a><a href={site.vk} target="_blank" rel="noopener" data-event="click_vk_mobile">ВКонтакте</a></nav>
